In [438]:
import pymongo
import pandas as pd
from tqdm import tqdm
import numpy as np
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.multioutput import MultiOutputRegressor
import joblib
from helpers import flatten_performance_df, stack_df, get_performances_by_team
from sklearn.metrics import r2_score
client = pymongo.MongoClient("mongodb+srv://superteam:4NgVPcNjmKBQkMTd@cluster0.sfhws.mongodb.net/dev?retryWrites=true&w=majority")
db = client.superteam

In [437]:
player_performances = pd.DataFrame(list(db.playerPerformances.find({}))).set_index('_id')
team_performances = pd.DataFrame(list(db.teamPerformances.find({}))).set_index('_id')

In [439]:
player_performances = flatten_performance_df(player_performances)
team_performances = flatten_performance_df(team_performances)

In [440]:
game_ids = list(set(team_performances.GAME_ID))

Make sure all teams are scaled to have same minutes or remove minute information

In [441]:
player_count = 13
feature_list,target_list = [],[]
for game_id in tqdm(game_ids):
    player_game_performances = player_performances[player_performances.GAME_ID==game_id]
    team_game_performances = team_performances[team_performances.GAME_ID==game_id]
    
    team_1_performances, team_2_performances = get_performances_by_team(team_game_performances)
    team_1_player_performances, team_2_player_performances = get_performances_by_team(player_game_performances)

    team_1_player_performances = team_1_player_performances[:player_count]
    team_2_player_performances = team_2_player_performances[:player_count]
    
    for i in [team_1_player_performances,team_2_player_performances]:
        feature_list.append(stack_df(i))

    for i in [team_1_performances,team_2_performances]:
        target_list.append(i)

100%|██████████| 10540/10540 [17:05<00:00, 10.28it/s]

In [442]:
features = pd.concat(feature_list).fillna(0).reset_index(drop=True)
targets = pd.concat(target_list).fillna(0).reset_index(drop=True)

In [446]:
train_features, test_features, train_labels, test_labels = train_test_split(features, targets, test_size=0.2, random_state=1)
train_features, validation_features, train_labels, validation_labels = train_test_split(
    train_features, train_labels, test_size=0.25, random_state=1
)

In [447]:
abs(train_features.corrwith(train_labels.PIE)).mean()

0.00798483139366687

In [452]:
train_features

,PCT_FGA_2PT_1,PCT_AST_2PM_1,PCT_PTS_2PT_1,AST_PCT_1,PCT_FG3M_1,PCT_BLKA_1,PCT_BLK_1,FG3_PCT_1,PCT_PTS_1,PCT_FGM_1,...,E_PACE_13,AST_RATIO_13,DIST_13,AST_TOV_13,FTA_RATE_13,OPP_FTA_RATE_13,MIN_13,PACE_PER40_13,PACE_13,PIE_13
18962,0.571,0.200,0.500,0.056,0.182,0.000,0.000,0.333,0.185,0.163,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13607,0.852,0.222,0.643,0.045,0.125,0.333,0.667,0.250,0.329,0.313,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18236,0.182,0.000,0.143,0.000,0.400,0.500,0.000,0.444,0.212,0.208,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17207,0.583,0.333,0.545,0.200,0.167,0.250,0.143,0.200,0.134,0.118,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6810,0.250,1.000,0.200,0.097,0.182,0.000,0.000,0.333,0.118,0.088,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,0.471,0.667,0.273,0.120,0.556,0.500,0.333,0.556,0.232,0.242,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18525,0.625,0.000,0.400,0.000,0.167,0.200,0.000,0.333,0.063,0.071,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12933,0.571,1.000,0.500,0.000,0.154,0.000,0.200,0.667,0.105,0.128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14275,0.583,0.143,0.538,0.316,0.500,0.250,0.000,0.400,0.347,0.367,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4050,0.680,0.500,0.667,0.069,0.300,0.000,0.000,0.375,0.319,0.341,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [460]:
eval_set = []
for column in validation_labels.columns:
    eval_set.append((validation_features, validation_labels[column]))

In [465]:
multioutputregressor = MultiOutputRegressor(xgb.XGBRegressor(objective='reg:squarederror')).fit(train_features, train_labels)

In [467]:
joblib.dump(multioutputregressor, "models/team_13_model.pkl")

['models/team_13_model.pkl']

In [466]:
# predicting
print(np.mean(abs(multioutputregressor.predict(test_features) - test_labels), axis=0).mean())

2.265698279584738

In [390]:
multioutputregressor = joblib.load("models/team_13_model.pkl")

In [468]:
prediction_df = pd.DataFrame(multioutputregressor.predict(test_features), columns=test_labels.columns)

In [469]:
r2 = r2_score(test_labels, prediction_df)
print(r2)

0.5363016015263107

In [470]:
r2_score(prediction_df.OFF_RATING,test_labels.reset_index(drop=True).OFF_RATING)

0.2432253478512859

Mapping from individual performance to team performance is bottleneck